In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import modulo as md

In [3]:
headers={'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36'}

## Funcion que se encarga de tomar todos los equipos en la lista de ligas que le de y ponerlos en un df junto con sus ids en la web

In [17]:
#codigos ligas:

all_leagues=[9,10,12,17,11,18,13,60,20,33]
countries = {
'England':[9,10],
'Spain': [12,17],
'Italy':[11,18],
'France':[13,60],
'Germany':[20,33]
}

In [1]:
def teams_df(ListLiguesNumbers):# ejemplo lista paises=[9,10],[12,17],[10,18],[13,60],[20,33]
    equiposall=[]               #devuelve un df
    codigosall=[]
    
    for liga in ListLiguesNumbers:

        print(liga)
        url=f'https://fbref.com/es/comps/{liga}'
        res=requests.get(url, headers=headers)
        equipos=md.get_teams(res)
        time.sleep(1)
        equiposall+=equipos[0]
        codigosall+=equipos[1]
            
    columnas=['Nombre', 'id Web']
    datos = {
    'Nombre': equiposall,
    'id Web': codigosall
    }
    equipos=pd.DataFrame(datos, columns=columnas)
    equipos['id_ml']=equipos['id Web'].apply(md.get_numbers)
    max_length = equipos['id_ml'].str.len().max()
    equipos['id_ml'] = equipos['id_ml'].str.pad(width=max_length, side='right', fillchar='0')

    
    return equipos

In [11]:
all_teams=teams_df(all_leagues)
all_teams

9
10
12
17
11
18
13
60
20
33

           Nombre    id Web     id_ml
0         Arsenal  18bb7c10  18710000
1     Aston Villa  8602292d  86022920
2     Bournemouth  4ba7cbea  47000000
3       Brentford  cd051869  05186900
4        Brighton  d07537b9  07537900
..            ...       ...       ...
195     Osnabrück  3ce4e72c  34720000
196  Paderborn 07  d9f93f02  99302000
197    Schalke 04  c539e393  53939300
198     St. Pauli  54864664  54864664
199         Wehen  432f2430  43224300

[200 rows x 3 columns]

## compruebo que no hayan ids duplicados

In [12]:
dfs=[]
for index, row in all_teams.iterrows():
    team=row['id_ml']
    df=all_teams[all_teams['id_ml']==team]
    
    if df.shape[0] != 1:
        dfs.append(df)

len(dfs)

0

In [13]:
all_teams.to_csv('/dataset/All_teams.csv',index=False)

In [18]:
for key in countries.keys():
    teams=teams_df(countries[key])
    teams.to_csv(f'/dataset/{key}_teams.csv',index=False)

9
10
12
17
11
18
13
60
20
33

esto es solo la prueba para intentar crear la funcion que cree ids

In [49]:
def lista_ids(cantidad, digitos):
    lista=[123,321]
    return lista

def prueba():
    listcantidades=[2]
    listdigitos=[3]
    
    for cantidad, digito in zip(listcantidades,listdigitos):
        
        condicion = lambda x: len(x) == digito
        lista=lista_ids(cantidad,listdigitos)
        lista_de_cadenas = list(map(str, lista))
        if (len(lista) != cantidad) or (len([elemento for elemento in lista_de_cadenas if condicion(elemento)])!= cantidad):
            
            return 'Reprobado' 
        
    return 'Aprobado'