In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import modulo as md

In [5]:
headers={'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36'}

## Funcion que se encarga de tomar todos los equipos en la lista de ligas que le de y ponerlos en un df junto con sus ids en la web

In [3]:
#codigos ligas:
paisesA=[9,12,11,13,20]
PaisesB=[10,17,18,60,33]
#0inglesa=[9,10]
#1españolas=[12,17]
#2italianas=[10,18]
#3francesa=[13,60]
#4alemanas=[20,33]

In [1]:
def teams_df(ListLiguesNumbers):# ejemplo lista paises=[9,10],[12,17],[10,18],[13,60],[20,33]
    equiposall=[]               #devuelve un df
    codigosall=[]
    
    for liga in ListLiguesNumbers:

        print(liga)
        url=f'https://fbref.com/es/comps/{liga}'
        res=requests.get(url, headers=headers)
        equipos=md.get_teams(res)
        time.sleep(1)
        equiposall+=equipos[0]
        codigosall+=equipos[1]
            
    columnas=['Nombre', 'id Web']
    datos = {
    'Nombre': equiposall,
    'id Web': codigosall
    }
    equipos=pd.DataFrame(datos, columns=columnas)
    return equipos

In [6]:
equiposA=teams_df(paisesA)
equiposB=teams_df(PaisesB)

9
12
11
13
20
10
17
18
60
33

# Obtengo todos los umeros en las id web de los equipos y los vuelvo mis ids locales, para el ml

In [7]:
equiposA['id_ml']=equiposA['id Web'].apply(md.get_numbers)
equiposB['id_ml']=equiposB['id Web'].apply(md.get_numbers)

In [10]:
equiposB

              Nombre    id Web     id_ml
0    Birmingham City  ec79b7c2      7972
1          Blackburn  e090f40b     09040
2       Bristol City  93493607  93493607
3       Cardiff City  75fae011     75011
4      Coventry City  f7e3dfe9       739
..               ...       ...       ...
99         Osnabrück  3ce4e72c      3472
100     Paderborn 07  d9f93f02     99302
101       Schalke 04  c539e393    539393
102        St. Pauli  54864664  54864664
103            Wehen  432f2430   4322430

[104 rows x 3 columns]

In [8]:
equiposA.drop_duplicates('id_ml')
equiposB.drop_duplicates('id_ml')

              Nombre    id Web     id_ml
0    Birmingham City  ec79b7c2      7972
1          Blackburn  e090f40b     09040
2       Bristol City  93493607  93493607
3       Cardiff City  75fae011     75011
4      Coventry City  f7e3dfe9       739
..               ...       ...       ...
99         Osnabrück  3ce4e72c      3472
100     Paderborn 07  d9f93f02     99302
101       Schalke 04  c539e393    539393
102        St. Pauli  54864664  54864664
103            Wehen  432f2430   4322430

[104 rows x 3 columns]

## hago que todos los ids tengan la misma longitud

In [11]:
max_lengthA = equiposA['id_ml'].str.len().max()
max_lengthB = equiposB['id_ml'].str.len().max()
print(max_lengthA)
print(max_lengthB)

8
8

In [13]:
max_length = equiposA['id_ml'].str.len().max()

# Aplicar zfill para igualar la longitud
equiposA['id_ml'] = equiposA['id_ml'].str.pad(width=max_length, side='right', fillchar='0')
equiposB['id_ml'] = equiposB['id_ml'].str.pad(width=max_length, side='right', fillchar='0')
equiposA

           Nombre    id Web     id_ml
0         Arsenal  18bb7c10  18710000
1     Aston Villa  8602292d  86022920
2     Bournemouth  4ba7cbea  47000000
3       Brentford  cd051869  05186900
4        Brighton  d07537b9  07537900
..            ...       ...       ...
91     RB Leipzig  acbb6a5b  65000000
92      Stuttgart  598bc722  59872200
93   Union Berlin  7a41008f  74100800
94  Werder Bremen  62add3bf  62300000
95      Wolfsburg  4eaa11d7  41170000

[96 rows x 3 columns]

## compruebo que no hayan ids duplicados

In [14]:
dfs=[]
for index, row in equiposA.iterrows():
    equipo=row['id_ml']
    df=equiposA[equiposA['id_ml']==equipo]
    
    if df.shape[0] != 1:
        dfs.append(df)

len(dfs)

0

In [15]:
dfs=[]
for index, row in equiposB.iterrows():
    equipo=row['id_ml']
    df=equiposB[equiposB['id_ml']==equipo]
    
    if df.shape[0] != 1:
        dfs.append(df)

len(dfs)

0

In [19]:
equiposA.to_csv(r'C:\Users\ARTUROS\Desktop\Archivos Adrian\personal\proyectos personales\lacaprichosa\dataset\All_teamsA.csv',index=False)
equiposB.to_csv(r'C:\Users\ARTUROS\Desktop\Archivos Adrian\personal\proyectos personales\lacaprichosa\dataset\All_teamsB.csv',index=False)

esto es solo la prueba para intentar crear la funcion que cree ids

In [49]:
def lista_ids(cantidad, digitos):
    lista=[123,321]
    return lista

def prueba():
    listcantidades=[2]
    listdigitos=[3]
    
    for cantidad, digito in zip(listcantidades,listdigitos):
        
        condicion = lambda x: len(x) == digito
        lista=lista_ids(cantidad,listdigitos)
        lista_de_cadenas = list(map(str, lista))
        if (len(lista) != cantidad) or (len([elemento for elemento in lista_de_cadenas if condicion(elemento)])!= cantidad):
            
            return 'Reprobado' 
        
    return 'Aprobado'